:root {
  --Orange-color: #f17228;
  --Yellow-color: #ffb30e;
}
*,
*::after *::before {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  padding: 0px;
  /* width: 100vw; */
  height: 100vh;
  overflow-x: hidden;
}
.collapse {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.navbar-brand {
  color: var(--theme-primary, #ffb30e) !important;
  font-family: Qwigley;
  font-size: 80px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 120%; /* 96px */
  position: relative;
  left: 50px;
}
.deliver {
  color: var(--theme-gray-800, #424242);
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  position: relative;
  left: 30px;
}
.location::before {
  content: url(asset/map-marker-alt.svg);
  position: relative;
  left: -10px;
}
.location {
  color: var(--theme-gray-800, #424242);
  text-align: center;
  font-family: Open Sans !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  position: relative;
  left: 20px;
}
p.iconfood::before {
  content: url(asset/Search.svg);
  position: relative;
  top: 5px;
  left: -10px;
}
p {
  color: var(--theme-gray-800, #424242);
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  position: relative;
  left: 105px;
  top: 5px;
}
.btn {
  position: relative;
  left: 130px;
  width: 110px;
  height: 43px;
  text-align: center;
  font-family: "Open Sans", sans-serif !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100% !important;
  gap: 20px;
  top: -5px;
}
.btn::before {
  content: url(asset/user.svg);
  position: relative;
  left: -7px;
  top: 2px;
}
.p-3 {
  width: 1920px;
  height: 632px;
  flex-shrink: 0;
}
.p-3 h1 {
  color: var(--theme-white, #fff);
  text-shadow: 0px 27px 82px rgba(255, 174, 0, 0.28),
    0px 14px 15px rgba(255, 174, 0, 0.01);
  font-family: Qwigley;
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: relative;
  top: 140px;
  left: 177px;
}
.p-3 h5 {
  color: #504f4f;
  font-family: Source Sans Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  position: relative;
  top: 150px;
  left: 179px;
}
.fullmeal {
  content: url(asset/full\ meals.png);
  width: 524px;
  height: 424px;
  display: flex;
  justify-content: center;
  position: relative;
  right: -900px;
  top: -20px;
}
.bar {
  display: flex;
  width: 640px;
  padding: 22px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  top: -250px;
  left: 180px;
}
.bar1 {
  display: flex;
  width: 640px;
  padding: 24px;
  position: relative;
  top: -283px;
  left: 180px;
}
h5.delviry {
  position: relative;
  top: 0px;
  left: 20px;
  border-radius: 8px;
  background: rgba(241, 114, 40, 0.1);
  padding: 10px 24px;
  color: var(--theme-warning, #f17228);
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100%;
  width: 140px;
  height: 45px;
}
.delviry::before {
  content: url(asset/Icon.svg);
  position: relative;
  left: -10px;
}
h5.delviry1 {
  color: var(--theme-gray-600, #757575) !important;

  font-size: 14px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 100%;
  position: relative;
  top: 12px;
  left: 70px;
}
.delviry1::before {
  content: url(asset/bag.svg);
  position: relative;
  left: -15px;
  top: 1px;
}
h5.place {
  color: var(--theme-gray-500, #9e9e9e) !important;
  position: relative;
  top: 8px;
  left: 60px;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 140%;
}
.place::before {
  content: url(asset/nav\ 1.svg);
  position: relative;
  top: 5px;
  left: -20px;
}
h5.find {
  color: var(--theme-white, #fff) !important;
  text-align: center;
  font-family: "Poppins", sans-serif !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 100%;
  position: relative;
  top: 0px;
  border-radius: 8px;
  background: linear-gradient(96deg, #ff7a7a -39.64%, #f65900 135.31%);
  width: 170px;
  height: 55px;
  padding: 15px;
}
.find::before {
  content: url(asset/search\ 1.svg);
  position: relative;
  left: -10px;
}
/* section 2 style starts */
.container {
  position: relative;
  top: 80px;
}
.card {
  border: none !important;
  margin: 0px;
}
.card-title {
  color: var(--theme-gray-800, #424242);
  font-family: "poppins", sans-serif !important;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  position: relative;
  left: -10px;
}
.card-text {
  color: var(--theme-warning, #f17228);
  font-family: "poppins", sans-serif !important;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border-radius: 8px;
  background: rgba(241, 114, 40, 0.2);
  width: 200px;
  padding: 10px 12px;
  position: relative;
  left: -10px;
}
/* section 3 style starts */
.heading {
  color: #f17228;
  text-align: center;
  font-family: "poppins", sans-serif !important;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
  position: relative;
  top: 150px;
}
.ml-2 {
  font-family: "poppins", sans-serif !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  margin-right: auto;
  background: linear-gradient(93deg, #fb3c00 -47.72%, #ffb800 136.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: -60px;
  left: 40px;
}
.bg-light {
  border-radius: 10px;
  background: #fff !important;
  box-shadow: 0px 5px 27px 11px rgba(255, 181, 21, 0.1);
  flex-shrink: 0;
  position: relative;
  top: 200px;
}
.img {
  width: 136px;
  height: 106px;
  flex-shrink: 0;
  position: relative;
  top: -70px;
  left: 30px;
}
.img2 {
  width: 2px;
  height: 80px;
  flex-shrink: 0;
  position: relative;
  top: -75px;
}

/* section 4 style starts */
.section4 {
  position: relative;
  top: 430px;

  width: 1220px;
  height: 604px;
  flex-shrink: 0;
}
.search {
  color: var(--theme-gray-900, #212121);
  font-family: "poppins", sans-serif !important;
  font-size: 40px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 112%;
  left: 0px !important;
}
.section4 h5 {
  position: relative;
  left: 40px;
  font-family: "poppins", sans-serif !important;
  font-size: 16px;
  font-style: normal !important;
  font-weight: 700 !important;
}
/* section 4 style ends */

/* section 5 style starts */
.section5 {
  position: relative;
  top: 380px;
  left: 250px;
}
.section5 h5 {
  color: #353535;
  font-family: Source Sans Pro;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 48.16px */
  width: 390px;
}
.section5 span {
  color: var(--theme-primary, #ffb30e);
}
.section5 p {
  color: rgba(97, 97, 97, 0.69) !important;
  font-family: "poppins" sans-serif !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 140%; /* 25.2px */
  background: none !important;
  width: 300px;
  text-align: left;
  position: relative;
  left: -20px;
}
.section5.crispy {
  position: relative;
  left: -50px;
}
.section5 a {
  border-radius: 8px !important;
  background: var(
    --yellow-button,
    linear-gradient(93deg, #ffb800 -47.72%, #ff8a00 136.81%)
  ) !important;
  margin: 0px !important;
  border: 0px !important;
  width: 430px;
  padding: 25px 39px !important;

  position: relative;
  top: 60px;
  left: -8px;
  height: 20px;
  box-shadow: 0px 14px 32px 0px rgba(255, 178, 14, 0.29),
    0px 5px 8px 0px rgba(222, 151, 0, 0.24) !important;
}
a h6 {
  color: #fff;
  text-align: center;
  font-family: "poppins" sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 18px */
  text-transform: uppercase;
  position: relative;
  top: -29px;
}
h6.proced::after {
  content: url(asset/CHEVRON-RIGHT.svg);
  padding: 10px;
  position: relative;
  top: 2px;
}
.rounded {
  display: flex;
  justify-content: flex-end;
  width: 650px;
  height: 400px;
  flex-shrink: 0;
  position: relative;
  right: -880px;
  top: -250px;
}
/* section 5 style ends */

/* section 6 style starts */
.section6 {
  position: relative;
  top: 200px;
  left: 110px;
}
.popular {
  color: var(--theme-gray-900, #212121);
  text-align: center;
  font-family: "poppins" sans-serif !important;
  font-size: 40px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
  position: relative;
  top: -50px;
  left: -90px;
}
.section6 h5 {
  color: var(--theme-gray-800, #424242);
  text-align: center;
  font-family: "poppins" sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.section6 p {
  color: var(--theme-white, #fff);
  text-align: center !important;
  font-family: "poppins" sans-serif !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  border-radius: 8px 8px 8px 8px;
  background: var(--theme-warning, #f17228);
  box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.24),
    0px 5px 10px 0px rgba(253, 114, 92, 0.22);
  padding: 18px !important;
  position: relative;
  left: -17px;
}
/* section 6 style ends */
/* section  7 stle starts */
.section7 {
  position: relative;
  top: 70px;
}
/* section 7 ends */
/* footer section starts */
footer {
  width: 1550px;
  height: 476px;
  flex-shrink: 0;
  position: relative;
  top: 200px;
  left: -125px;
  height: 100vh;
}
footer a {
  text-decoration: none;
}
footer li {
  text-align: left;
}
footer h5 {
  color: #fff !important;
  font-family: "poppins" sans-serif !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 120%;
}

.company h5 {
  position: relative;
  left: -930px;
  top: 50px;
}
.contact h5 {
  position: relative;
  left: -730px;
  top: -130px;
}
.legal h5 {
  position: relative;
  left: -520px;
  top: -280px;
}
.company li {
  position: relative;
  left: -655px;
  top: 80px;
  padding-bottom: 10px;
}
.contact li {
  position: relative;
  left: -448px;
  top: -100px;
  padding-bottom: 10px;
}
.legal li {
  position: relative;
  left: -226px;
  top: -329px;
  padding-bottom: 10px;
}
footer hr {
  width: 1200px;
}
footer h4 {
  color: #f5f5f5 !important;
  font-family: "poppins" sans-serif !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;
  position: relative;
  top: -300px;
  left: -100px;
}
.icons {
  content: url(asset/social1.svg);
  position: relative;
  top: -290px;
  left: 168px;
}
.reci {
  position: relative;
  top: -200px;
  left: -8px;
}

.ent {
  color: #adadad;

  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  position: relative;
  top: -335px;
  left: -40px;
}
.mail ::before {
  content: url(asset/envelope.svg);
  position: relative;
  left: -15px;
  top: 3px;
}
h6.ent {
  border-radius: 8px;
  background: var(--theme-gray-800, #424242);
  display: flex;
  width: 310px;
  height: 50px;
  padding: 7px 0px 8px 34px;
  align-items: center;
  gap: px;
  flex-shrink: 0;
  position: relative;
  left: 165px;
}
.subbtn {
  color: #fff;
  text-align: center;
  font-family: "poppins" sans-serif !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 100%; /* 18px */
  position: relative;
  top: -392px;
  left: 500px !important;
  width: 133px;
  border-radius: 8px;
  background: var(
    --yellow-button,
    linear-gradient(93deg, #ffb800 -47.72%, #ff8a00 136.81%)
  ) !important;
  box-shadow: 0px 14px 32px 0px rgba(255, 178, 14, 0.29),
    0px 5px 8px 0px rgba(222, 151, 0, 0.24) !important;
}
.crid {
  position: relative;
  top: -220px;
  left: 130px;
}
.made::before {
  content: url(asset/Made\ with\ ï€„\ by.svg);
  position: relative;
  top: -240px;
  display: flex;
  justify-content: flex-end;
  left: -270px;
}
.made1 {
  position: relative;
  top: -270px;
  display: flex;
  justify-content: flex-end;
  left: -237px;
}
